{% if is_granted('ROLE_ADMIN') -%}
    {% set extendedTemplate = "base_admin.html.twig" %}
{% elseif is_granted('ROLE_LENDER') -%}
    {% set extendedTemplate = "base_lender.html.twig" %}
{% else %}
    {% set extendedTemplate = "base_user.html.twig" %}
{%- endif %}

{% extends extendedTemplate %}

 {% block title %}Liste des clients{% endblock %}
 
    {% block body %}
    
		<table class="table table-hover">
			<thead>
			  <tr>
				<th scope="col">Id</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Email</th>
				<th scope="col">Date de naissance</th>
				<th scope="col">Rôle</th>
			  </tr>
			</thead>
			<tbody>
				{%for user in listUser %}
			  <tr>
				<td>{{ user.id}} </td>
    			<td>{{ user.nom }}</td>
    			<td>{{ user.prenom }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.naissance | date('d/m/Y')}}</td>
				<td>{{ user.roles[0]}}</td>
				
				<td>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-primary">
					  <input type="checkbox" onclick="self.location.href='/show-client/{{user.id}}'" autocomplete="off"> Details
					</label>
					<label class="btn btn-primary">
					  <input type="checkbox" onclick="self.location.href='/delete-client/{{user.id}}'" autocomplete="off"> Supprimer
					</label>
					<label class="btn btn-primary">
					  <input type="checkbox" onclick="self.location.href='/edit-client/{{user.id}}'" autocomplete="off"> Modifier
					</label>
				  </div>
				</td>
			  </tr>
			  {% endfor %}
			</tbody>
		  </table> 
{% endblock %}
