{% extends 'base.html.twig' %}

{% block title %}Ajouter préteur!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1>Passer un utilisateur en un préteur</h1>

 {# <div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {#{{ form_errors(form) }}#}

 <div class="form-group">
    {{ form_label(form.mail, "E-mail", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.mail) }}
        <div class="col-sm-10">
      {{ form_widget(form.iduser, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div> 
   
  <div class="form-group">
    {{form_label(form.password, "Mot de passe", {'label_attr' : {'class':'col-sm-2 control-label'}})}}
    {{form_errors (form.password)}}
        <div class="col-sm-10">
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
      </div>
  </div>
    

<input type="button" name="home_link" value="connection" onclick="self.location.href='/'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 

  {{ form_rest(form) }}
  {{ form_end(form) }}



{% endblock %}
