{% extends 'base.html.twig' %}
 {% block title %}Liste des clients{% endblock %}
 
    {% block body %}
    	<table>
            <tr>
                <th> Id </th>
    			<th> Nom </th>
    			<th> Prenom </th>
    			<th> Email </th>
				<th> Roles </th>
            </tr>

    		{%for user in listUser %}
			
			<tr>
                <td> {{ user.id}} </td>
    			<td>{{ user.nom }}</td>
    			<td>{{ user.prenom }}</td>
    			<td>{{ user.email }}</td>

				{%for role in user.roles %}
				<td>{{ role }}</td>
				{% endfor %}
				
			</tr>
			 			
    		{% endfor %}
    	</table>

<div> 
<input type="button" name="home_link" value="Revenir à la page d'accueil" onclick="self.location.href='/'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
</div>
{% endblock %}
