{% extends 'base.html.twig' %}
 {% block title %}Liste des objets{% endblock %}
 
    {% block body %}
    	<table>
            <tr>
    			<th> Nom </th>
    			<th> Prix </th>
    			<th> Caution </th>
    			<th> Etat </th>
                <th> Emplacement </th>
                <th> Numéro de série </th>
                <th> Kit </th>
            </tr>
		{% if Liste is defined %}
    		{%for product in Liste %}
			<tr>
    			<td>{{ product.nom }}</td>
    			<td>{{ product.prix }}</td>
    			<td>{{ product.caution }}</td>
                <td>{{ product.etat }}</td>
                <td>{{ product.emplacement }}</td>
                <td>{{ product.numSerie }}</td>
                <td>{{ product.kit }}</td>
			</tr>    			
			{% endfor %}
		{%endif%}
    	</table>

		<div> 
<input type="button" name="home_link" value="Revenir à la page d'accueil" onclick="self.location.href='/'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
</div>
{% endblock %}



