{% extends 'base.html.twig' %}
 {% block title %}Liste des objets{% endblock %}
 
    {% block body %}
    	<table>
            <tr>
    			<th> Nom </th>
    			<th> Prix </th>
    			<th> Caution </th>
    			<th> Etat </th>
                <th> Emplacement </th>
                <th> Numéro de série </th>
                <th> Kit </th>
                <th> Statut </th>
            </tr>
		{% if Liste is defined %}
    		{%for product in Liste %}
			<tr>
    			<td>{{ product.nom }}</td>
    			<td>{{ product.prix }}</td>
    			<td>{{ product.caution }}</td>
                <td>{{ product.etat }}</td>
                <td>{{ product.emplacement }}</td>
                <td>{{ product.numSerie }}</td>
                <td>{{ product.kit }}</td>
                {%for statut in product.statut%}
                <td>{{ statut }} </td>
                {%endfor%}
                
			</tr>    			
			{% endfor %}
		{%endif%}
    	</table>

{% endblock %}



