<div class="card">
    {# <img src="{{ product.image }}" alt="" class="card-img-top"> #}

    <div class="card-body">
        <h5 class="card-title"> {{product.nom}} </h5>
        <div clas="card-title">
            {{product.prix}}
        </div>
        <div clas="card-title">
            {{product.categorie}}
        </div>
        <div clas="card-title">
            {{product.statut[0]}}
        </div>
        <div clas="card-title">
            {{product.owner}}
        </div>
    </div>

</div>