{% if is_granted('ROLE_ADMIN') -%}
    {% set extendedTemplate = "base_admin.html.twig" %}
{% elseif is_granted('ROLE_LENDER') -%}
    {% set extendedTemplate = "base_lender.html.twig" %}
{% else %}
    {% set extendedTemplate = "base_user.html.twig" %}
{%- endif %}

{% extends extendedTemplate %}

{% block title %}Ajouter un objet{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1>Formulaire d'ajout</h1>

    <div>Bonjour  {{app.user.username}}! Que souhaitez-vous emprunter ?</div>  

  <div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}



  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nom, "Quel est l'objet ?", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.nom) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(form.prix, "Quelle est la valeur de l'objet ?", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.prix) }}
    <div class="col-sm-10">
      {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.caution, "Quelle est la valeur de la caution ?", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.caution) }}
    <div class="col-sm-10">
      {{ form_widget(form.caution, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.etat, "Quel est l'état de l'objet ?", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.etat) }}
    <div class="col-sm-10">
      {{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.emplacement, "Quel est l'emplacement de l'objet ?", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.emplacement) }}
    <div class="col-sm-10">
      {{ form_widget(form.emplacement, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.num_serie, "Quel est le numéro de série de l'objet ?", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.num_serie) }}
    <div class="col-sm-10">
      {{ form_widget(form.num_serie, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.kit, "S'agit-il d'un kit ?", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.kit) }}
    <div class="col-sm-10">
      {{ form_widget(form.kit, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
  {{form_label(form.statut, "Statut", {'label_attr' : {'class':'col-sm-2 control-label'}})}}
  {{form_errors (form.statut)}}
      <div class="col-sm-10">
      {{ form_widget(form.statut, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

 

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary' }}) }}

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div> 

{% endblock %}
