{% extends 'base.html.twig' %}
 {% block title %}Liste des objets{% endblock %}
 
    {% block body %}
    	<table class="table table-hover">
            <thead>
            <tr>
    			<th> Nom </th>
    			<th> Prix </th>
    			<th> Caution </th>
    			<th> Etat </th>
                <th> Emplacement </th>
                <th> Numéro de série </th>
                <th> Kit </th>
           
                <th> Statut </th>
            </tr>
            </thead>
            <tbody>
		{% if listProduct is defined %}
    		{%for product in listProduct %}
			<tr>
    			<td>{{ product.nom }}</td>
    			<td>{{ product.prix }}</td>
    			<td>{{ product.caution }}</td>
                <td>{{ product.etat }}</td>
                <td>{{ product.emplacement }}</td>
                <td>{{ product.numSerie }}</td>
                <td>{{ product.kit }}</td>
                <td>{{ product.statut[0]}}</td>
                
                <td>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary">
                      <input type="checkbox" onclick= autocomplete="off"> Details
                    </label>
                    <label class="btn btn-primary">
                      <input type="checkbox" onclick="self.location.href='/delete-product/{{product.id}}'" autocomplete="off"> Supprimer
                    </label>
                    <label class="btn btn-primary">
                      <input type="checkbox" onclick="" autocomplete="off"> Modifier
                    </label>
                    <label class="btn btn-primary">
                      <input type="checkbox" onclick="self.location.href='/qrcode-product/{{product.id}}'" autocomplete="off"> Générer un QrCode
                    </label>
                    <label class="btn btn-primary">
                      <input type="checkbox" onclick="self.location.href='/add-borrowing/{{product.id}}'" autocomplete="off"> Emprunter
                    </label>
                    <label class="btn btn-primary">
                      <input type="checkbox" onclick="" autocomplete="off"> Rendre
                    </label>
                  </div>
                </td>
			</tr>    			
			{% endfor %}
		{%endif%}
        </tbody>
          </table> 

{% endblock %}



