{% extends "base.html.twig" %}


{% block title %} Confirmation d'emprunt ou de rendu : {% endblock %}

{% block body %}


  <h1> Vous avez scanner l'objet suivant : </h1>
  <Table border="1">
    <tr>
      <th> Nom </th>
      <td> {{product.nom}} </td>
    </tr>
    <tr>
      <th> Prix </th>
      <td> {{product.prix}} </td>
    </tr>
    <tr>
      <th> Etat </th>
      <td> {{product.etat}} </td>
    </tr>
    <tr>
      <th> Numéro de série </th>
      <td> {{product.numSerie}} </td>
    </tr>
      <th> Satut </th>
      {%for Satut in product.statut%}
      <td> {{Satut}} </td>
      {%endfor%}
  </Table>


  {% if app.user.id == idOwner %}


	{% if statut ends with 'STATUT_DISPONIBLE' %} 
  <p> Voulez-vous préter cette objet ? </p>
  <label class="btn btn-primary">
    <input type="checkbox" onclick="" autocomplete="off"> Oui
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" onclick="" autocomplete="off"> Non
  </label>

  {% else %}

  
  <h4> Cet objet vous a bien été remis ? </h4>
  <label class="btn btn-primary">
    <input type="checkbox" onclick="" autocomplete="off"> Oui
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" onclick="" autocomplete="off"> Non
  </label>

  {%endif%}

  {%endif%}

{% endblock %}

