{% extends 'base.html.twig' %}
 {% block title %}Liste des emprunts{% endblock %}
 
    {% block body %}
    	<table>
            <tr>
                <th> Id </th>
    			<th> User </th>
    			<th> Produit </th>
    			<th> Date de début </th>
				<th> Date de fin </th>
            </tr>

    		{%for bo in listBorrowing %}
			<tr>
                <td> {{ bo.id}} </td>
    			<td>{{ bo.id_user }}</td>
    			<td>{{ bo.id_product }}</td>
    			<td>{{ bo.dateDebut }}</td>
                <td>{{ bo.dateFin }}</td>
				
			</tr>    			
    		{% endfor %}
    	</table>

<div> 
<input type="button" name="home_link" value="Revenir à la page d'accueil" onclick="self.location.href='/'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
</div>
{% endblock %}
