{% extends 'base.html.twig' %}
 {% block title %}Liste des emprunts{% endblock %}
 
    {% block body %}
    	<table>
            <tr>
                <th> Id </th>
    			<th> User </th>
    			<th> Produit </th>
    			<th> Date de début </th>
				<th> Date de fin </th>
            </tr>

    		{%for bo in listBorrowing %}
			<tr>
                <td> {{ bo.id}} </td>
    			<td>{{ bo.id_user }}</td>
    			<td>{{ bo.id_product }}</td>
    			<td>{{ bo.dateDebut }}</td>
                <td>{{ bo.dateFin }}</td>
				
			</tr>    			
    		{% endfor %}
    	</table>

{% endblock %}
